
<div class="back-to-top"></div>
</div>
<footer id="footer" class="footer">
    <div class="footer-inner">
        <div class="copyright">
            &copy;
            <span itemprop="copyrightYear">
                {{datetime.datetime.now().year}}</span>
            <span class="with-love">
                <i class="icon-next-heart fa fa-heart-o"></i>
            </span>
            <span class="author" itemprop="copyrightHolder"><a href="">
                    Reyno</a></span>
        </div>

        <div class="powered-by">
            Power by <a class="theme-link" href="http://www.tornadoweb.org/en/stable/">Tornado</a>
        </div>

        <div class="theme-info">
            Theme -
            <a class="theme-link" href="https://github.com/zgq354/typecho-theme-next">
                NexT.Mist
            </a>
        </div>
    </div>
</footer>
</body>

<!-- 年份年份侧滑 -->
<script type="text/javascript" id="motion.page.archive">
    $('.archive-year').velocity('transition.slideLeftIn');
</script>
<!-- 年份侧滑 -->

</html>